.button {
  @include usual-text;
  display: block;
  background: $simply-blue;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 0 13px;
  border: none;

  &:hover {
    background: $faded-blue;
    cursor: pointer;
  }

  &:active {
    background: $faded-blue;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

  &:disabled {
    background: $accent-gray;
  }
}
