.goal__content {
  @include usual-text;
  @include usual-text-sizing;
  background: $simply-blue;
  color: #ffffff;
  text-align: center;
  padding-top: 38px;
}

.goal:nth-child(2) .goal__content {
  padding-top: 70px; //здесь паддинг больше из-за белой стрелки вверху
}

.goal_gray-style {
  background-color: rgba($simply-gray, 0.1);
  color: #000000;
  padding-top: 25px;

  &::after {
    display: block; //это полосочки
    content: "";
    border-bottom: 1px solid rgba($simply-gray, 0.3);
    margin: 0 auto;
    width: calc(100% - 40px);
    padding-top: 28px;
  }

  &:last-child::after {
    padding-top: 27px; //последней полосочки нет
    border: none;
  }
}

.goal__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 53px;
  margin-bottom: 8px;
}

.goal__number {
  margin-bottom: 16px;
}

.goal__description {
  padding: 0 29px 40px;
}


.goal_gray-style .goal__description {
  padding: 0 37px; //здесь паддинги почему-то больше
  color: $simply-gray;
}

.goal__pic-container {
  display: flex;
  align-items: center;
}

.goal__pic {
  display: block;
}


@media (min-width: 768px) {
  .goal {
    display: flex;
    flex-wrap: wrap;
  }

  .goal:nth-child(2) .goal__content {
    padding-top: 45px;
  }

  .goal__content {
    flex-basis: 33%;
    flex-grow: 1;
    padding: 45px 0 44px;
  }

  .goal__number {
    margin-bottom: 23px;
  }

  .goal__description {
    padding: 0 47px; //для правильного выравнивания по строкам
  }


  .goal__pic-container {
    flex-basis: 66%;
    flex-grow: 2;
    overflow: hidden;
  }

  .goal:nth-child(3) .goal__content {
    order: 1;
  }

  .goal__title {
    font-size: 21px;
    line-height: 26px;
  }

  .goal_gray-style {
    padding-bottom: 17px; //пиксельперфект

    .goal__title {
      padding-left: 55px;
      padding-right: 55px;
      margin-bottom: 10px;
    }

    .goal__number {
      margin-bottom: 20px;
    }

    .goal__description {
      padding: 0 48px; //для правильного выравнивания по строкам
    }

    &::after {
      border-bottom: none;
    }
  }
}

@media (min-width: 1200px) {
  .goal:nth-child(2) .goal__content,
  .goal__content {
    padding: 52px 0 32px;
  }

  .goal__pic-container {
    height: 256px;
  }

  .goal:nth-child(3) {
    .goal__pic {
      padding-bottom: 9px; //позиционирование второй картинки
      align-self: stretch;
    }

    .goal__description {
      padding-left: 83px;
      padding-right: 83px; //для пп
    }
  }

  .goal_gray-style.goal__content {
    padding-top: 45px; //пиксельперфект
    padding-bottom: 39px;
  }

  .goal__title,
  .goal_gray-style .goal__title {
    padding-left: 123px; //для позиционирования заголовка
    padding-right: 122px;
  }

  .goal_gray-style .goal__description {
    padding: 0 55px;
  }
}
