.goal__content {
  @include usual-text;
  @include usual-text-sizing;
  background: $simply-blue;
  color: #ffffff;
  text-align: center;
  padding-top: 38px;
}

.goal:nth-child(2) .goal__content {
  padding-top: 72px; //здесь паддинг больше из-за белой стрелки вверху
}

.goal_gray-style {
  background-color: rgba($simply-gray, 0.1);
  color: #000000;
  padding-top: 25px;

  &::after {
    display: block; //это полосочки
    content: "";
    border-bottom: 1px solid rgba($simply-gray, 0.3);
    margin: 0 auto;
    width: calc(100% - 40px);
    padding-top: 28px;
  }

  &:last-child::after {
    padding-top: 27px; //последней полосочки нет
    border: none;
  }
}

.goal__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 53px;
  margin-bottom: 8px;
}

.goal__number {
  margin-bottom: 16px;
}

.goal__description {
  padding: 0 29px 40px;
}


.goal_gray-style .goal__description {
  padding: 0 37px; //здесь паддинги почему-то больше
  color: $simply-gray;
}

.goal__pic {
  background-image: url("../../img/main-city-mobile@1x.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 260px; //высота картинки на мобиле
  width: 100%;
}

.goal:nth-child(3) .goal__pic {
  background-image: url("../../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: 768px) {
  .goal {
    display: flex;
    flex-wrap: wrap;
  }

  .goal:nth-child(2) .goal__content{
    padding-top: 45px;
  }

  .goal__content {
    flex-basis: 33%;
    flex-grow: 1;
    padding: 45px 0 44px;
  }

  .goal__description {
    padding: 23px 45px 0; //для правильного выравнивания по строкам
  }


  .goal__pic {
    flex-basis: 66%;
    flex-grow: 2;
    background-image: url("../../img/main-city-tablet@1x.jpg");
    min-height: auto; //здесь и далее высота картинки нам не нужна
  }

  .goal:nth-child(3) .goal__pic {
    background-image: url("../../img/main-bridge-tablet@1x.jpg");
    order: -1;
  }

  .goal__title {
    font-size: 21px;
    line-height: 26px;
  }

  .goal_gray-style {
    padding-top: 42px; //пиксельперфект

    .goal__title {
      padding-left: 55px;
      padding-right: 55px;
    }

    .goal__number {
      padding-top: 10px;
    }

    .goal__description {
      padding: 20px 48px 10px;
    }

    &::after {
      border-bottom: none;
    }
  }
}

@media (min-width: 1200px) {
  .goal:nth-child(2) .goal__content
  {
    padding-top: 58px;
  }

  .goal__content {
    padding-top: 55px;
  }

  .goal_gray-style.goal__content {
      padding-top: 40px;
    }


  .goal__title,
  .goal_gray-style .goal__title{
    padding-left: 125px; //для позиционирования заголовка
    padding-right: 125px;
  }

  .goal__pic {
    background-image: url("../../img/main-city-desktop@1x.jpg");
  }

  .goal:nth-child(3) .goal__pic {
    background-image: url("../../img/main-bridge-desktop@1x.jpg");
  }

  .goal_gray-style {
    padding-top: 42px; //пиксельперфект

    .goal__description {
      padding: 20px 55px 35px;
    }
  }
}
