.photo-cell {
  font-family: "PTSans", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 22px 0 16px;
  border-top: 1px solid rgba($simply-gray, 0.1);
}

.photo-cell:last-child {
  border-bottom: 1px solid rgba($simply-gray, 0.1);
}

.photo-cell__pic {
  display: block;
  padding: 0 20px;
  margin-bottom: 15px; //чтобы пиксели совпали с макетом
}

.photo-cell__pic-info {
  padding: 0 20px;
}

.photo-cell__about-pic {
  margin-bottom: 5px;
}

.photo-cell__title {
  text-transform: uppercase;
  font-weight: 700;
}

.photo-cell__likes {
  font-weight: 700;
}

.photo-cell__like-icon {
  margin-right: 11px;
  fill: rgb(0, 0, 0);
  opacity: 0.3;
  width: 23px;
  height: 21px;
}

@media (min-width: 768px) {
  .photo-cell {
    padding: 0;
    border-top: none;
    flex-basis: 50%;
  }

  .photo-cell:first-child {
    flex-basis: 100%;
  }

  .photo-cell__pic {
    margin: 0;
    padding: 0; //обнуляется
    width: 100%;
  }

  .photo-cell__pic-info {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 15px 20px 12px;
  }

  .photo-cell:nth-child(3) .photo-cell__pic-info {
    background: #eaeaea; //дизайнер решил, что этот блок другого цвета
  }

  .photo-cell__about-pic {
    flex-grow: 1;
  }

  .photo-cell__likes {
    margin-top: 0;
    display: flex;
    flex-basis: 68px;
  }
}

@media (min-width: 1200px) {
  .photo-cell {
    position: relative;
    flex-basis: 33%;
    flex-grow: 1;
  }

  .photo-cell__pic-info {
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .photo-cell:nth-child(3) .photo-cell__pic-info {
    background: rgba(0, 0, 0, 0.4); //дизайнер решил, что этот блок другого цвета
  }

  .photo-cell__like-icon {
    fill: #ffffff;
    opacity: 1;
  }
}
