.video__intro {
  width: 100%;
}

.video-interface__navbar {
  height: 60px; //временный параметр для отступа
  padding-bottom: 39px; //согласно макету...
}

@media (min-width: 768px) {
  .video-interface {
    margin: 0 60px;
  }

  .video-interface__navbar {
    height: 0;
    padding-bottom: 35px; //согласно макету...
  }
}


@media (min-width: 1200px) {
  .video-interface {
    margin: 0 200px;
  }

  .video-interface__navbar {
    height: 0;
    padding-bottom: 77px; //во славу макета...
  }
}
