.video-interface {
  position: relative;
  padding-bottom: 99px;
}

.video-interface__intro {
  width: 100%;
}

.video-interface__navbar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 0 22px;
  background: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 41%, #f2f2f2 41%, #f2f2f2 100%);
  width: calc(100% - 84px); //здесь сумма марджинов и паддингов
  height: calc(44px + 66px);
  bottom: 40px;
}

.video-interface__progress {
  height: 3px;
  position: relative;
  flex-basis: 100%;
  background: #ffffff;
  opacity: 0.3;
  margin: 5px 0 8px; //центровка всех сразу проклятых элементов, потому, что они вечно ездят куда не надо
}

.video-interface__progress-slider {
  position: absolute;
  height: 10px;
  width: 11px;
  background: #ffffff;
  top: calc(21% - 5px);
  left: 20.5%;
  border-radius: 50%;
}

.video-interface__controller_position {
  margin-right: 28px;
}

.video-interface__controller-icon {
  height: 20px;
  fill: #5c6870;
}

@media (min-width: 768px) {
  .video-interface {
    margin: 0 60px;
    padding-bottom: 36px;
  }

  .video-interface__navbar {
    height: 94px;
    flex-wrap: nowrap;
    background-image: none;
    padding: 0 39px 0 34px;
    margin: 0;
    width: calc(100% - 39px - 34px);
    bottom: 40px;
  }

  .video-interface__progress {
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    margin: 0 44px;
  }

  .video-interface__progress-slider {
    top: calc(49% - 4px);
    left: 31.6%;
  }

  .video-interface__controller:last-child {
    order: 2;
  }

  .video-interface__controller-button {
    background: transparent;
    border: none;
  }

  .video-interface__controller-icon {
    fill: #ffffff;
  }
}

@media (min-width: 1200px) {
  .video-interface {
    margin: 0 200px;
    padding-bottom: 80px;
  }

  .video-interface__navbar {
    bottom: 87px;
  }

  .video-interface__progress-slider {
    left: 25.5%;
  }

  .video-interface__controller:last-child {
    display: flex;
    justify-content: space-between;
    width: 83px;
    padding-right: 4px;
  }
}
