.about-page {
  position: relative;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;

  &::after {//здесь пока не понятно, как, потому, что svg
    display: none;
    content: "";
    background: url("../img/bg-triangle.svg") top left/cover no-repeat;
    height: 43px;
    width: auto;
  }
}

.about-page__what-is {
  padding: 43px 33px 0;
  font-size: 18px;
  font-weight: 700;
}

.about-page__description {
  padding: 43px 33px 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .about-page {
    max-width: 550px;
    margin: 0 auto;
  }

  .about-page__what-is {
    font-size: 21px;
  }

  .about-page__description {
    padding-bottom: 55px;
  }
}
