.advantages-list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include usual-text;

  @include usual-text-sizing;
  margin: 30px 0 15px;
}

.advantages-list__item {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; //для пиксельперфекта
}

.advantages-list__icon {
  width: 35px;
  height: 35px; //авто не подходит
  margin-right: 15px;
}

.advantages-list__offer {
  font-size: 18px;
  font-weight: 700;
}

.advantages-list__description {
  padding-left: 50px;
  padding-top: 12px;
}

@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 284px; //внимание, временный параметр. Нужен для дальнейшей разметки блоков
  }

  .advantages-list__item {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0;
  }

  .advantages-list__item:nth-child(2) {
    order: 1;
  }
}
