.advantages-list {
  @include no-list;
  @include usual-text;
  @include usual-text-sizing;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 15px;
}

.advantages-list__item {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; //для пиксельперфекта
}

.advantages-list__icon {
  width: 35px;
  height: 35px; //авто не подходит
  margin-right: 15px;
}

.advantages-list__offer {
  font-size: 18px;
  font-weight: 700;
}

.advantages-list__description {
  padding-left: 50px;
  padding-top: 12px;
}

@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px; //для пиксельперфекта
  }

  .advantages-list__item {
    margin: 0 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; //только так каждый элемент встаёт на своё место
    padding: 22px 0;
  }

  .advantages-list__item:nth-child(2) {
    order: 1;
  }

  .advantages-list__icon {
    width: 75px;
    height: 75px; //авто не подходит. В мобильной вёрстке марджин райт почему-то сносно выравнивает по центру
    margin-right: 0;
    margin-bottom: 30px;
  }

  .advantages-list__offer {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 21px;
  }

  .advantages-list__description {
    text-align: center;
    padding-left: 0;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .advantages-list {
    margin: 37px 0 60px;
  }

  .advantages-list__item {
    margin: 0 55px;
  }

  .advantages-list__icon {
    margin-bottom: 25px;
  }

  .goal__description {
    padding-left: 55px;
    padding-right: 55px;
  }
}
