@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/ptsansbold.woff");
  font-weight: bold;
  font-style: normal;
}
