.footer {
  @include usual-text;
  @include usual-text-sizing;
}

.footer__slogan {
  margin: 32px 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  flex-basis: 47px;
  height: 48px;
  background: $simply-blue;
  color: #ffffff;
  margin: 0 3px;
}

.footer__trademark {
  padding: 36px 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-academy {
  width: 40px;
  height: auto;
  margin-right: -9px;
  padding-left: 6px;

}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 61px;
  }

  .footer__social {
    flex-basis: 30%;
  }

  .footer__trademark {
    margin: 0;
  }
}
