.impulse {
  text-align: center;
  text-transform: uppercase;
}

.impulse__question {
  font-size: 21px;
  font-weight: 700;
  padding: 61px 33px 0;
}

.impulse__action {
  padding: 10px 28px 0;
}

.impulse__map {
  display: block;
  width: 100%;
}
