.impulse {
  text-align: center;
  text-transform: uppercase;
}

.impulse__wrapper {
  max-width: 450px;
  margin: 0 auto;
  padding: 24px 21px 0;
}

.impulse__question {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

}

.impulse__action {
  line-height: 24px;
  padding-top: 18px;
}

.impulse__button {
  margin-top: 35px;
}

.impulse__map {
  display: block;
  width: 100%;
  height: auto;
}

