.main-nav {
  background: $simply-blue;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav__wrapper {
  text-align: center;
  list-style: none;
  padding-left: 0; //чтобы нивелировать отступ для списка
  margin: 0; //чтобы убрать верхние-нижние марджины списка
}

.main-nav__item {
  padding: 20px 0;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
