
.page-header {
  position: relative;
  background: #ffffff;
  font-size: 18px;
}


.page-header__bar {
  display: block;
  text-align: right;
}

.page-header__toggle-button {
  text-align: right;
  border: 0;
  background: transparent;
  padding: 18px 20px 13px;
}


@media screen and (min-width: 768px) {
  .page-header {
    font-size: 14px;
  }

  .page-header__bar {
    display: none;
  }
}
