
.page-header {
  position: relative;
  background: #ffffff;
  font-size: 18px;
}


.page-header__bar {
  display: block;
  text-align: right;
}

.page-header__toggle-button {
  text-align: right;
  border: 0;
  background: #ffffff;
  padding: 18px 20px;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 50px);
}
