.photo-cell {
  font-family: "PTSans", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
  padding-bottom: 16px;
  border-top: 1px solid rgba($simply-gray, 0.1);
}

.photo-cell:last-child {
  border-bottom: 1px solid rgba($simply-gray, 0.1);
}

.photo-cell__pic {
  display: block;
  margin: 2px auto 8px; //чтобы пиксели совпали с макетом
}

.photo-cell__title {
  text-transform: uppercase;
  font-weight: 700;
}

.photo-cell__likes {
  font-weight: 700;
  margin-top: 5px;

  &::before {
    display: inline-block;
    content: "";
    width: 23px;
    height: 21px;
    margin-right: 14px;
    background: url("../img/icon-like.svg") 0 0/ cover no-repeat;
  }
}

@media (min-width: 768px) {
  .photo-cell {
    padding: 0;
    border-top: none;
    flex-basis: 50%;
  }

  .photo-cell:first-child {
    flex-basis: 100%;
  }

  .photo-cell__pic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaea;
    padding: 15px 20px;
  }

  .photo-cell__pic {
    margin: 0;
    width: 100%;
  }

  .photo-cell__likes {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .photo-cell {
    position: relative;
    flex-basis: 33%;
    flex-grow: 1;
  }

  .photo-cell__pic-info {
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
