.video__intro {
  width: 100%;
}

.video-interface__navbar {
  height: 60px; //временный параметр для отступа
  padding-bottom: 40px; //согласно макету...
}

@media (min-width: 768px) {
  .video-interface {
    margin: 0 60px;
  }
}
